body {
	font-family: Georgia Times Serif;
	background-color: #41669b;

}


a{
	color: #FCFCFF;
}

.linkvisited{
	color: #407878;
}

*{
	font-family: Arial, Times, comic;
	  color: #94ADD4;

	   }
h1{
	font-family: comic;
	
}

<{ 
	border: 2px solid #665544;
	color: blue;
}

h2{

	color: #7C0F5E;
	
}
a:visited {
	color: grey;
}
p{
	font-size: 150%;
	font: Helvetica;
	background-color: #954b65;
}
.center{
	text-align: center;
}

div.topBox {
	width: 100%
	color: #b5bdc9;
	background-color: #59d1a3;
}


div.midBox{
	color: #e8ecf2
}
p {

	margin: 15px;
}